//*******
///Running in O2 server with slurm and singularity
//*******

//singularity.enabled = true
//singularity.autoMounts = true
//singularity.cacheDir = "/n/app/singularity/containers/pac936/"
//process.executor = 'slurm'


//*******
//Running in a mac local machine with docker installed
//*******

docker.enabled         = true
docker.userEmulation   = true

//option to make it run on mac with M1/M2 processor
//docker.runOptions = '--platform linux/amd64'

includeConfig 'resource.config'

params {
samples = "s3://dfci-0-fragmentomics/0-sheet/aws-sample.csv"
MAX_SIZE_FRAGMENT = 500
python_prog = "${projectDir}/auxiliar_programs/split_tss_samples.py"
}
